/* General page styles */

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  
  body {
    background-color: #fff;
  }
  
  h1 {
    font-family: "Jomolhari", serif;
    background-color: #ffff;
    color: #040404;
    padding: 16px;
    margin-bottom: 5px;
  }
  
  #blogName {
    color: #0e1404;
  }
  
  main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -5px;
    background-color: #cdd0de;
  }
  
  .homepage-main {
    margin-top: 34px;
  }
  
  .user-name {
    background-color: #d7d8e0;
  }
  
  .blogPost-main {
    margin-top: 34px;
  }
  
  /* Nav styles */
  
  .navBar {
    background-color: #e1e2e9;
  }
  
  #logout {
    background-color: #d4d6e1;
  }
  
  /* Input/textarea styles */
  
  #titleInput,
  #bodyInput,
  #comment,
  #email-login,
  #password-login,
  #name-signup,
  #email-signup,
  #password-signup {
    background-color: #e8e9ee;
  }
  
  /* Button styles */
  
  .btn {
    background-color: #d7d9df;
  }
  
  /* Card styles */
  
  .card-header {
    background-color: #f4f4f6;
  }
  
  .card-body {
    background-color: #e4e5e7;
  }
  
  .card {
    background-color: #eff0f4;
  }
  
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: all 0.3s ease;
  }